# Environment files
.env
.env.test
.env.development

# IDE
.vscode
.idea

# Python virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pip

# Log files
logs/
*.log
